* {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

main {
  flex: 1;
}

body > div {
  flex-direction: column;
}

main > div {
  height: 100%
}

section > div {
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

section {
  padding: 1em;
}

section:nth-child(1) {
  flex-basis: 240px;
}

section:nth-child(2) {
  flex: 1;
  flex-basis: 0;
  background-color: #eee;
}

section:nth-child(3) {
  flex-basis: 180px;
  flex-shrink: 0;
  background-color: red;
}

div > div {
  flex: 0 0 250px;
  flex-shrink: 0;
  background-color: white;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

div > p {
  padding: 0.5rem 1rem;
}

div > img {
  border-radius: 10px 10px 0 0;
}